#header{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 150px;
    padding-top: 100px;
    float: left;
}

body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

pre{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

a{
    font-size: 20px;
    text-align: left;
   margin-left: 150px;
   border-style: hidden;
   border-color: black;
   text-decoration: none;
   color: #0f222f;
   background-color:#4A8DB9;
   
   
}

a:hover{
    background-color: seagreen;
}

form{
    padding-left: 400px;
    padding-top: 150px;
    
    float: left;
}

#button{
    
    border-color: black;
    text-decoration: none;
    color: #0f222f;
    background-color:#4A8DB9;
    
}

#button :hover{
    background-color: seagreen;
}

fieldset{
    height: 200px;
    width: 200px;
    float:left
}

#menu li {
    display:inline;
    
}




#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

#menu li a:hover {
    background-color: orange;
}



















